.home, .homemobile {
    height: 100vh;
    width: 100vw;
}
body {
 	overscroll-behavior: none;
}

@charset "UTF-8";
/* CSS Document */

html {
    background-color: black;
}

.banner-C61RwL {
  display:none;
}

a {
	color: #556884;
}

/* Shopify Styling */
.shopify-buy__product__title {
	display: none;
}

.shopify-buy__select-icon {
	display: none;
}

.shopify-buy-frame--product{
	font-family: 'Gotham-Bold',Helvetica,Arial,serif;
}

.shopify-buy__product__actual-price {
	font-size: 17px;
}

.shopify-buy__option-select__label {
	text-transform: uppercase;
	font-size: 7px;
    color: #556884;
    letter-spacing: .9px;
    line-height: 14px
}
.shopify-buy__btn  {
	font-family: 'Gotham-Bold',Helvetica,Arial,serif;
	text-transform: uppercase;
	color: white;
	font-size: 9px;
	border-radius: 45px;
	background-color: #556884;
	height: 30px;
	width: 140px;
	margin-top: 10px;
	border: none;
}

.shopify-buy__option-select__select {
	margin: 0;
 	padding: 5px;
  	font-size: 11px;
  	border: 1px solid #979797;
	border-radius: 2px;
  	height: 25px;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	background: url(https://anima-uploads.s3.amazonaws.com/projects/5ce9dc447e427ae662f79dd4/files/openselection.png) 97% / 10% no-repeat #eee;
	width:100%;
}
.shopify-buy-frame--product {
	font-family: 'Gotham-Bold',Helvetica,Arial,serif;
	position: absolute;
    left: 0;
}
.shopify-buy--visually-hidden{
	display: none;
}
.shopify-buy__cart-toggle {
	background-color: #556884;
	width: 40px;
    height: 40px;
    border-radius: 30px;
}
.shopify-buy__icon-cart__group{
	fill: white;
	display: block;
	margin: auto;
}
.shopify-buy-frame--toggle.is-active.is-sticky {
    display: block;
    position: fixed;
	top: 50px;
    right: 75px;
}
.shopify-buy__cart-toggle__count {
	font-family: 'Gotham-Bold',Helvetica,Arial,serif;
    margin: 0 auto;
    background-color: black;
    font-size: 9px;
    color: white;
    border-radius: 20px;
    position: fixed;
    left: 27px;
    top: -6px;
    padding: 4px 7px 4px 7px;
}
.shopify-buy__icon-cart--side{
	width: 19px;
    position: relative;
    top: 10px;
    left: 10px;
}

@media screen and (min-width: 1020px) {
  	.shopify-buy-frame--toggle.is-active.is-sticky {
		display: block;
		position: fixed;
		top: 75px;
		right: 11%;
	}
}
